# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
local_server/
local_test_server/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
test-build/
untranslated-messages.json

# Package related
/packages/*/build

# VSCode related
.vscode/settings.json

# Test coverage
lcov.info
**/coverage/html

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Freezed and json serializable codegen
*.freezed.dart
*.g.dart

# Scribbling files
packages/tournament_mode/lib/src/badminton_test_tournament.dart

