Source: ezbadminton-infoscreen
Section: unknown
Priority: optional
Maintainer: Simon Gerstmeier <ezBadminton@gerstmeier.dev>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: ezbadminton-infoscreen
Architecture: any
Description: A client for ezBadminton that shows the current state of the tournament.
 This is a pre-release version.
