<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">

      <!-- These component groups are harvested during the build. Configured in windows.wixproj HarvestDirectory and HarvestFile tags. -->
      <ComponentGroupRef Id="FileComponents"/>
      <ComponentGroupRef Id="ServerComponents"/>

      <Component Directory="DesktopFolder"
                 Condition="CREATEDESKTOPSHORTCUT">

        <Shortcut Id="DesktopShortcut"
                  Name="ezBadminton"
                  Target="[!ezBadminton.exe]"
                  WorkingDirectory="INSTALLFOLDER" />

        <RemoveFile Id="RemoveDesktopShortcut" Name="ezBadminton.lnk" On="uninstall" />

        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

      </Component>

    </ComponentGroup>

    <MediaTemplate EmbedCab="yes" />

  </Fragment>
</Wix>
