<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="ezBadminton Infoscreen" Manufacturer="Simon Gerstmeier" Version="0.1.0" UpgradeCode="de5a4622-9325-4271-92d5-991d6d81f055">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

    <ui:WixUI Id="InstallDialog"
              InstallDirectory="INSTALLFOLDER"/>
  </Package>
</Wix>
